
{{ form_start(form,{
    'action' : path('newsletter')
}) }}
<div class="input-group mb-3">
    {{ form_errors(form) }}
    {{ form_widget(form.email,
        {'attr': {
            'class': 'form-control',
            'placeholder': 'Votre adresse email',
            'aria-describedby':'basic-addon2',
            'aria-label': 'Recipient\'s username'
        }}) }}
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Valider</button>
    </div>

</div>
{{ form_end(form) }}



