{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <hr class="mt-4 mb-4">
    <div>
        <input type="submit" class="btn btn-custom" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
