{% extends 'base.html.twig' %}

{% block title %}NAO - Accueil{% endblock %}
{% block description %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
{% endblock %}

{% block body %}
    {% include 'interface/parts/_sidebar.html.twig' %}
    <div class="container-left">
    {% include 'interface/parts/_header.html.twig' %}
        <div class="main-content">
            <h1>Accueil</h1>

            <div id="title_interface">S'informer</div>
<div id="section_interface">Recherche les espèces sur la carte :</div> Découvrez dès maintenant où  vos oiseaux préférés ont été le plus aperçus!</br>
<div id="section_interface">Découvrir les profils des autres utilisateurs : </div>Vous avez la possibilité de consulter le profil des autres passionnés.</br>
<div id="section_interface">Découvrir les observations sur les différents oiseaux : </div>Grâce à une base de donnée bien fournie, vous pouvez retrouver des observations détaillées sur l'oiseau de votre choix.</br> </br>


<div id="title_interface">Participer</div>
<div id="section_interface">Ajouter une observation :</div> Qu'est ce qu'une observation? Un moyen pour vous de partager avec la communauté les oiseaux que vous rencontrez lors de vos promenades !</br>
<div id="section_interface">Devenir naturaliste : </div>Si vous êtes un professionel et désirez faire partie de notre équipe, cliquez sur le bouton "Devenir naturaliste" et postulez en répondant aux questions !</br>
<div id="section_interface">Faire un don :</div> Nous lançons un appel aux dons pour aider notre association à grandir.  </br> </br>


<div id="title_interface">En prime</div>
<div id="section_interface">Badges : </div>Plus vous vous fidélisez à l'association, plus on vous récompense ! Différents badges sont à gagner en vous impliquant sérieusement dans la vie de notre site !</br>
<div id="section_interface">Jeux :</div> Pour les petits et les plus grands, Memory Bird vous apprendra à reconnaître les oiseaux ! </br>
<div id="section_interface">Classement :</div> Vous retrouvez ici la liste des membres du site les plus actifs du moment! Les passionnés ayant le plus de badges se trouvent en haut de la liste.</br>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
