{% extends 'base.html.twig' %}

{% block title %}NAO - Accueil{% endblock %}
{% block description %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
{% endblock %}

{% block body %}
    {% include 'interface/parts/_sidebar.html.twig' %}
    <div class="container-left">
    {% include 'interface/parts/_header.html.twig' %}
        <div class="main-content">
            <h1>Accueil</h1>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
