{% extends 'base.html.twig' %}

{% block title %}memory Bird{% endblock %}
{% block description %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/style.css') }}" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div id="grille">
                    <div class="case" id="case0"></div>
                    <div class="case" id="case1"></div>
                    <div class="case" id="case2"></div>
                    <div class="case" id="case3"></div>

                    <div class="case" id="case4"></div>
                    <div class="case" id="case5"></div>
                    <div class="case" id="case6"></div>
                    <div class="case" id="case7"></div>

                    <div class="case" id="case8"></div>
                    <div class="case" id="case9"></div>
                    <div class="case" id="case10"></div>
                    <div class="case" id="case11"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="infos">
                    <div id="temps"></div>
                    <div id="level"></div>
                    <div id="score"></div>
                    <div id="coups"></div>
                    <input type="button" class="btn" value="Nouvelle partie" onclick="window.location.reload();"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">

        var nb_clics = 0;
        var coups =0;
        var carte1 = "";
        var carte2="";
        var case1 = "";
        var case2 ="";
        var imgOk =0;
        //var nb_erreurs =0;
        var points =0;
        var paireTrouvee = 20;
        var paireNonTrouvee = 10;
        var depart= false;
        var temps_debut = new Date().getTime();

        generation();

        var attente = setTimeout(function()
        {
            for(var i=0;i<12;i++)
            {
                document.getElementById('img' +i).src='../../assets/img_memory/Back.jpg';
            }
            depart=true;
        },0);

        function generation()
        {
            var nb_alea; var nb_img="";
            var test = true; var chaine = "";

            for (var i=0;i<12;i++)
            {
                while (test==true)
                {
                    nb_alea = Math.floor(Math.random()*12) + 1;
                    if(chaine.indexOf("-" + nb_alea + "-")>-1)
                        nb_alea = Math.floor(Math.random()*12) + 1;
                    else
                    {
                        nb_img = Math.floor((nb_alea+1)/2);
                        document.getElementById('case' + i).innerHTML = "<img style='cursor:pointer;' id='img" + i + "' src=" + nb_img + "'../../assets/img_memory/carte.jpg' onClick='verifier(\"img" + i + "\", \"carte" + nb_img + "\")' alt='' />";
                        chaine += "-" + nb_alea + "-";
                        test=false;
                    }
                }
                test=true;
            }
        }

        function verifier(limg,source)
        {
            if(depart==true)
            {
                nb_clics++;
                document.getElementById(limg).src='../../assets/img_memory/'+source+'.jpg';

                if(nb_clics ==1)
                {
                    carte1=source;
                    case1=limg;
                }
                else
                {
                    carte2=source;
                    case2=limg;
                    if(case1!=case2)
                    {
                        depart=false;
                        if(carte1!=carte2)
                        {
                            var attente =setTimeout(function()
                            {
                                document.getElementById(case1).src='../../assets/img_memory/Back.jpg';
                                document.getElementById(case2).src='../../assets/img_memory/Back.jpg';
                                depart=true;
                                nb_clics=0;
                                coups++;
                                // nb_erreurs++;
                                points = points - paireNonTrouvee;
                                document.getElementById('score').innerHTML='<h2>Nombre de points en cours:</h2><strong>'+points+'</strong>';
                                document.getElementById('coups').innerHTML='<h2>Nombre d\'essais en cours :</h2><strong>'+coups+'</strong>';

                            },800);
                        }
                        else
                        {
                            depart=true;
                            nb_clics=0;
                            coups++;
                            points= points + paireTrouvee;
                            document.getElementById('score').innerHTML='<h2>Nombre de points en cours:</h2><strong>'+points+'</strong>';
                            document.getElementById('coups').innerHTML='<h2>Nombre d\'essais en cours :</h2><strong>'+coups+'</strong>';
                            imgOk +=2;

                            if(imgOk==12)
                            {
                                var dif_temps = Math.floor((new Date().getTime()- temps_debut)/1000);
                                document.getElementById('score').innerHTML='<h2>Vous remportez :</h2><strong>'+points+'</strong> points';
                                document.getElementById('temps').innerHTML='<h2>Vous avez mis : </h2><strong>'+dif_temps+'</strong> secondes';
                                document.getElementById('coups').innerHTML='<h2>en ayant fait </h2><strong>' +coups+' </strong> clics';
                            }
                            if(imgOk==12 &&dif_temps<15)
                            {
                                document.getElementById('level').innerHTML ='<h2>Bravo vous êtes un expert!</h2>';
                                depart=false;
                            }
                            else if(imgOk==12 &&dif_temps<30)
                            {
                                document.getElementById('level').innerHTML ='<h2>Bravo vous êtes très très fort!</h2>';
                                depart=false;
                            }
                            else if(imgOk==12 &&dif_temps<60)
                            {
                                document.getElementById('level').innerHTML ='<h2>Bravo vous êtes fort!</h2>';
                                depart=false;
                            }
                            else if(imgOk==12 &&dif_temps<90)
                            {
                                document.getElementById('level').innerHTML ='<h2>Bravo vous êtes très bon!</h2>';
                                depart=false;
                            }
                            else if(imgOk==12 &&dif_temps<120)
                            {
                                document.getElementById('level').innerHTML ='<h2>Bravo vous êtes bon!</h2>';
                                depart=false;
                            }
                            else if(imgOk==12 &&dif_temps>120)
                            {
                                document.getElementById('level').innerHTML ='<h2>Vous avez mis trop de temps !</h2>';
                                depart=false;
                            }
                        }
                    }
                    else
                    {
                        if(nb_clics==2)nb_clics=1;
                    }
                }
            }
        }
    </script>

{% endblock %}

