{% extends "@FOSUser/layout.html.twig" %}

{% form_theme form 'bundles/VichUploaderBundle/views/Form/fields.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
{% endblock %}

{% block fos_user_content %}
    {% include 'interface/parts/_sidebar.html.twig' %}
<div class="container-left">
    {% include 'interface/parts/_header.html.twig' %}
    <div class="main-content">
        <div class="row">
            <div class="col-12">
                <div class="col-md-12 col-lg-6 custom-box">
                    <h1 class="h1box"><i class="material-icons" style="font-size: 24px; vertical-align: middle;margin-right: 8px;">settings</i>Mon compte</h1>
                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="alert alert-{{ type }}" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {% include "@FOSUser/Profile/edit_content.html.twig" %}
                </div>
            </div>
         </div>
    </div>
</div>
{% endblock fos_user_content %}

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
