<h1>Bonjour {{ user.username }}</h1>

<p>Votre ajout pour l'observation #{{ observation.id }} a été refusée. Il se peut que les informations ne soient pas corrects.</p>
<p>N'hésitez pas à contacter notre support si vous pensez que ce refus n'est pas justifié.</p>

L'ensemble de l'équipe<br>
Nos Amis les Oiseaux

