<h1>Bonjour {{ user.username }}</h1>

<p>Votre ajout pour l'observation #{{ observation.id }} a été acceptée. Votre observation est dorénavant en ligne sur le site.</p>
<p>Si vous ne souhaitez plus recevoir des emails de confirmation. Veuillez vous rendre dans votre espace paramètres pour le configurer.</p>

L'ensemble de l'équipe<br>
Nos Amis les Oiseaux

