// customize some Bootstrap variables
$brand-primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
  background-color: red;
  font-family: "Cedarville Cursive";
}

h2 {
  font-weight: 300;
  color: #676767;
  text-align: center;
  text-transform: uppercase;
}