{% extends 'base.html.twig' %}

{% block title %}Admin - Base already import{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    {# {% include 'front/parts/_header.html.twig' %}#}
    <h1>La base de données à déjà été importée !</h1>
    <h2>Pour importer une nouvelle base, veuillez tout d'abord supprimer l'ancienne</h2>
    <a href="/admin/"><button type="submit" name="submit" value="Retour à l'administration"  >Retour à l'administration</button></a>
{% endblock %}