{% extends 'base.html.twig' %}

{% block title %}Interface - Accueil{% endblock %}
{% block description %}{% endblock %}
{% block body %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
{% endblock %}
