{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <input id="input-nom-vern" type="text" class="form-control" placeholder="Rechercher une espèce">
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-default" data-toggle="dropdown" id="menu1">Tous les départements <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Département #1</a>
                    <a class="dropdown-item" href="#">Département #2</a>
                    <a class="dropdown-item" href="#">Département #3</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <button id="btn-valider" class="btn btn-primary btn-block">Valider</button>
        </div>
    </div>
    <div class="row">
        <div class="map-container mt-5">
            <div id="map"></div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var searchUrl = "{{ path('observation_map_search') }}";
    </script>
    <script src="{{ asset('assets/js/birdmap.js') }}"></script>
{% endblock %}