
{% extends 'base.html.twig' %}

{% block title %}Ajouter une observation{% endblock %}

{% block body %}
    <h2>Ajouter une observation :</h2>
<section>
<div class="form_observ">
     {{ form_start(form) }}
    <div class="form_label">  {{ form_widget(form) }}</div>
 
    {{ form_end(form) }}
</div>
</section>






{% endblock %}


