
{% extends 'base.html.twig' %}

{% block title %}Ajouter une observation{% endblock %}

{% block body %}

<section>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_row(form.bird.vern_name) }}
    {{ form_end(form) }}



</section>




    {% block h1 %}
        <h1>Hey !</h1>
    {% endblock %}

{% endblock %}


