<div class="col-lg-6 mt-3 mt-md-0">
    <div class="custom-box badges">
        <h1 class="h1box mb-1"><i class="material-icons" style="font-size: 24px; vertical-align: middle;margin-right: 8px;">bubble_chart</i>Badges<a href="#" class="float-right dropinfo">Comment obtenir un badge ?</a></h1>
        <div class="badges-info">
            <p><strong>Homme de l'ombre</strong> : Vous devez ajouter une photo de profil sur mon compte</p>
            <p><strong>Découverte</strong> : Vous devez ajouter votre première observation</p>
            <p><strong>Passionné</strong> : Vous devez ajouter une 10éne d'observations</p>
            <p><strong>Fidèle</strong> : Vous devez ajouter une 50éne d'observations</p>
            <p><strong>Expert</strong> : Vous devez ajouter une 100éne d'observations</p>
            <p><strong>Rookie</strong> : Vous devez être inscrit depuis 1 mois</p>
            <p><strong>Expert</strong> : Vous devez être inscrit depuis 6 mois</p>
            <p><strong>Top Fidélité</strong> : Vous devez être inscrit depuis 12 mois</p>
            <p><strong>Grand fidèle</strong> : Vous devez être inscrit depuis 24 mois</p>
        </div>
        {% if badges is empty %}
            {% if app.user.username == user.username %}
                <p class="text-muted mt-3">Vous n'avez pas encore débloqué de badge. Poster des observations dès maintenant pour en obtenir.</p>
            {% else %}
                <p class="text-muted mt-3 text-center">Cet utilisateur ne possède pas encore de badge.</p>
            {% endif %}
        {% endif %}
        <div class="row">
            {% for badge in badges %}
                <div class="col-md-6 col-lg-6 text-center mt-3 badge-box">
                    {% if badge == "Homme de l'ombre" %}
                        <span class="ico-h mt-3 mb-3"><i class="fas fa-camera-retro"></i></span>
                    {% elseif badge == "Découverte" %}
                        <span class="ico-h mt-3 mb-3"><i class="fab fa-angellist"></i></span>
                    {% elseif badge == "Passionné" %}
                        <span class="ico-h mt-3 mb-3"><i class="fas fa-trophy"></i></span>
                    {% elseif badge == "Fidèle" %}
                        <span class="ico-h mt-3 mb-3"><i class="fas fa-trophy"></i></span>
                    {% elseif badge == "Expert" %}
                        <span class="ico-h mt-3 mb-3"><i class="fas fa-trophy"></i></span>
                    {% elseif badge == "Rookie" %}
                        <span class="ico-h mt-3 mb-3"><i class="fas fa-trophy"></i></span>
                    {% elseif badge == "Rookie" %}
                        <span class="ico-h mt-3 mb-3"><i class="fas fa-trophy"></i></span>
                    {% elseif badge == "Spécialiste" %}
                        <span class="ico-h mt-3 mb-3"><i class="fas fa-trophy"></i></span>
                    {% elseif badge == "Top fidélité" %}
                        <span class="ico-h mt-3 mb-3"><i class="fas fa-trophy"></i></span>
                    {% elseif badge == "Grand fidèle" %}
                        <span class="ico-h mt-3 mb-3"><i class="fas fa-trophy"></i></span>
                    {% endif %}
                    <h3 class="h5"><i class="far fa-check-square"></i><span class="pl-1">{{ badge }}</span></h3>
                    {% if badge == "Homme de l'ombre" %}
                        <p>Vous avez ajouté une image à votre <strong>profil</strong></p>
                    {% elseif badge == "Découverte" %}
                        <p>Vous avez publié une <strong>Observation</strong></p>
                    {% elseif badge == "Passionné" %}
                        <p>Vous avez publié 10 <strong>Observations</strong></p>
                    {% elseif badge == "Fidèle" %}
                        <p>Vous avez publié 50 <strong>Observations</strong></p>
                    {% elseif badge == "Expert" %}
                        <p>Vous avez publié 100 <strong>Observations</strong></p>
                    {% elseif badge == "Rookie" %}
                        <p>Vous êtes sur le site depuis 1 <strong>mois</strong></p>
                    {% elseif badge == "Spécialiste" %}
                        <p>Vous êtes sur le site depuis 6 <strong>mois</strong></p>
                    {% elseif badge == "Top fidélité" %}
                        <p>Vous êtes sur le site depuis 12 <strong>mois</strong></p>
                    {% elseif badge == "Grand fidèle" %}
                        <p>Vous êtes sur le site depuis 24 <strong>mois</strong></p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>