<h1>Bonjour {{ player.user.username }}</h1>

<p>Bravo ! Vous avez terminé à la deuxième place du tournoi "{{ tournament.title }}" se déroulant du {{ tournament.startDate|date("d/m/Y") }} au {{ tournament.endDate|date("d/m/Y") }}. </p>
<p>N'hésitez pas à consulter la page classement pour voir les nouveaux tournois.</p>

L'ensemble de l'équipe<br>
Nos Amis les Oiseaux

