{% extends 'mails/layout.html.twig' %}

{% block body %}
    <tr>
        <td align="center" class="text-one">Bonjour {{ player.user.username }}</td>
    </tr>
    <tr>
        <td align="center"  class="text-two">Bravo ! Vous avez terminé à la troisième place du tournoi "<strong>{{ tournament.title }}</strong>" se déroulant du <strong>{{ tournament.startDate|date("d/m/Y") }}</strong> au <strong>{{ tournament.endDate|date("d/m/Y") }}</strong>. <br>N'hésitez pas à consulter la page classement pour voir les nouveaux tournois.</td>
    </tr>
{% endblock %}

