/*****BOUTON NOUVELLE PARTIE ******/
.btn_memory
{
    width:165px;
    height:55px;
    text-align:center;
    border-radius: 5px;
    background: #42aed7;
    font-size:20px;
    cursor:pointer;
    border: none;
    color:white;
}
/*****BOUTON TEXTE ******/
.btn_texte
{
    width:165px;
    height:55px;
    text-align:center;
    border-radius: 5px;
    background: #42aed7;
    font-size:20px;
    cursor:pointer;
    border: none;
    color:white;
}
.btn_texte:hover
{
    text-decoration:none;
}
.texte
{
    display: inline-block;
    border:2px solid #42aed7;
    padding:10px;
    margin-top: 10px;
}
.infos
{
    margin-top: 40px;
}
.infos div{
    display: inline-block;
}
.score div
{
    display: inline-block;
}
.game div
{
    display: inline-block;
}
.texte p{
    font-size: 22px;
}
















