{% extends 'base.html.twig' %}

{% block title %}Interface - Accueil{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    {% include 'front/parts/_header.html.twig' %}
    <h1>Accueil</h1>
    {#{% include 'front/parts/_footer.html.twig' %}#}
{% endblock %}