<h1>Bonjour {{ user.username }}</h1>

<p>Votre demande #{{ application.id }} pour devenir naturaliste a été acceptée. Vous avez dorénavant la possibilité de gérer les accès des autres membres.</p>
<p>Pensez à vous reconnecter pour que ce changement soit effectif.</p>

L'ensemble de l'équipe<br>
Nos Amis les Oiseaux

