<h1>Bonjour {{ user.username }}</h1>

<p>Nous sommes désolé mais votre candidature #{{ application.id }} pour devenir naturaliste a été refusée. Il se peut que vous n'ayez pas suffisamment d'expérience pour obtenir ce statut.</p>
<p>Ne vous découragez pas, nous procéderons à un reset des demandes dans les prochains mois. Vous pourrez donc renouveller votre demande un peu plus tard.</p>

L'ensemble de l'équipe<br>
Nos Amis les Oiseaux

